@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    --cor-principal:#ffd20b;
    --cor-secundaria:#ecf0de;
    --cor-texto:#372b7a;
    --cor-fundo:#37eeb7;
    --font: "Nunito Sans", sans-serif;;
}

body{
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: var(--font);
    height: 100vh;
    margin: 0%;
}

.cabecalho{
    background-color: var(--cor-secundaria);
}