@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    --cor-principal:#ffd20b;
    --cor-secundaria:#c8ec23;
    --cor-texto:#372b7a;
    --cor-fundo:#37eeb7;

}
 